{% extends "../base_admin.html" %}
{% block title %}Category page{% endblock title %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="product_editcate" style="text-align: center;"><h1>Edit product categories<h1></div>
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" name="name" value="{{category.name}}">
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Product image</label>
        <input class="form-control" name="image" type="file" id="formFile">
    </div>
    <div class="form-group">
        <label >Description</label>
        <textarea class="form-control" name="description"  rows="3">{{category.description}}</textarea>
    </div>
    <div class="form-check">
      <input type="checkbox" {% if category.featured == True %}checked{% endif %} class="form-check-input" name="featured">
      <label class="form-check-label" for="exampleCheck1">Featured</label>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
    <a href="javascript:history.back()" class="btn btn-secondary mt-2">Back</a>
</form>
{% endblock %}